* {    
    box-sizing: border-box;
}
.container {
    width: 345px;
    margin: 100px auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    font-size: 2em;
    border: 1px solid black;
    padding: 15px;
    width: 83px;
    height: 70px;
    text-align: center;
}

input {
    width: 100%;
    height: 50px;
    text-align: right;
    padding-right: 30px;
    font-size: 2em;
}

#upperTextField {
    width: 100%;
    height: 50px;
    text-align: right;
    padding-right: 30px;
    font-size: 1em;
}

#upperText {
    color: gray;
    font-size: 1em;
    border-bottom:  0px;
}

#bottomTextField {
    border-top: 0px;
}
.error {
    background-color: rgba(255, 2, 2, 0.6);
    cursor: pointer;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 60%;
    padding: 5px;
    margin: 20px auto;
    visibility: hidden;
}